<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <script src="https://kit.fontawesome.com/7295d8bda1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    



</head>


<body>
    <div id="particles-js"></div>
    <!--Principal------------------------>
    <section id="main">
        <!--Navegación-------------------------------->
        <nav>
            <!--Logo--->
            <a href="#" class="logo">OriginAry_DR</a>
            <!--Menu--------->
            <div class="toggle"></div>
            <ul class="menu">
                <li class="active"><a href="#main">Inicio</a></li>
                <li><a href="#about">Sobre mí</a></li>
                <li><a href="#services">Servicios</a></li>
                <li><a href="#portfolio">Portfaolio</a></li>
                <li><a href="#contact-form">Contactame</a></li>
            </ul>
            <!--language-->
            <a href="#" class="lang">Es</a>
        </nav>
        <!--Nombre--------------------------->
        <div class="name">
            <!--Hola------->
            <p>Hola</p>
            <!--Nombres--->
            <h1>Soy <font color="#63D9FF">Kevin Artavia</font>
            </h1>
            <!--detalles--------------->
            <p class="details">Soy un desarrollador freelance,
                cree esto para dar a conocer mi trabajo de
                Juegos, Apps, Web, Movil etc...</p>

        </div>
        <!--flecha hacia abajo-------------->
        <div class="black-line"></div>
        <!--social---------------->
        <div class="social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>

    </section>
    <!--sobre----------------------->
    <section id="about">
        <!--text---------------------->
        <div class="about-text">
            <h1>Sobre mí</h1>
            <h2>FreeLancing FrontEnd Developer</h2>
            <p>Disfrute del mejor editor de diseño web. Divi es como Photoshop o Sketch para la web. Aporta una interfaz
                de diseño avanzado a WordPress de la que se enamorarán tanto los principiantes como los expertos. Es
                increíblemente inteligente, súper flexible, increíblemente poderoso y visual por naturaleza. Así es como
                se debe hacer el diseño para la web.</p>
            <button>Ver mas detalles</button>
        </div>
        <!--acerca-model----------------->
        <div class="about-model">
            <img src="/img/about-model.png" alt="model" />
        </div>


    </section>
    <!--servicios-------------------->
    <section id="services">
        <!--heading-------------->
        <div class="s-heading">
            <h1>Servicios</h1>
            <p>Estos son algunos de los servicios que brindo.</p>
        </div>
        <!--servicios-box-container--------->
        <div class="b-container">
            <!--box-1---------------->
            <div class="s-box">
                <!--img------------->
                <div class="s-b-img">
                    <!--type----------->
                    <div class="s-type">WordPress</div>
                    <!--name------->
                    <img src="img/s1.png">
                </div>
                <!--text----------------->
                <div class="s-b-text">
                    <a href="#">He trabajado en algunos proyectos de wordpress y me gustaria ampliar mis proyectos en
                        este lenguaje</a>
                </div>
            </div>
            <!--box-2---------------->
            <div class="s-box">
                <!--img------------->
                <div class="s-b-img">
                    <!--type----------->
                    <div class="s-type">Web Desing</div>
                    <!--name------->
                    <img src="/img/s3.jpg">
                </div>
                <!--text----------------->
                <div class="s-b-text">
                    <a href="#">Se ofrece diferentes diseños para paginas Web con Html, Css, JavaScript, ademas de ser
                        paginas responsive.</a>
                </div>
            </div>

        </div>
    </section>

    <!--div-portafolio------------------>
    <section id="div-portafolio">
        <!--heading-------------->
        <h1 class="div-portafolio-heading">Conoce un poco mas de mi trabajo</h1>
    </section>

    <!--portfolio------------------->
    <section id="portfolio">
        <!--heading----------->
        <h1 class="p-headind">Portafolio</h1>
        <!--portfolio-container------------>
        <div class="b-container">
            <!--box-1---------------->
            <div class="s-box">
                <!--img------------->
                <div class="s-b-img">
                    <!--type----------->
                    <div class="s-type">WordPress</div>
                    <!--name------->
                    <img src="img/s1.png">
                </div>
                <!--text----------------->
                <div class="s-b-text">
                    <a href="#">He trabajado en algunos proyectos de wordpress y me gustaria ampliar mis proyectos en
                        este lenguaje</a>
                </div>
            </div>
            <!--box-2---------------->
            <div class="s-box">
                <!--img------------->
                <div class="s-b-img">
                    <!--type----------->
                    <div class="s-type">Web Desing</div>
                    <!--name------->
                    <img src="/img/s3.jpg">
                </div>
                <!--text----------------->
                <div class="s-b-text">
                    <a href="#">Se ofrece diferentes diseños para paginas Web con Html, Css, JavaScript, ademas de ser
                        paginas responsive.</a>
                </div>
            </div>

        </div>
    </section>
    <!--Contact-btn------------------>
    <section id="contact-btn">
        <!--heading-------------->
        <h1 class="c-b-heading"> Tiene algún proyecto en mente?</h1>
    </section>
    <!--contact-form------------------->
    <section id="contact-form">
        <form form action="https://formsubmit.co/kevinartavia29@gmail.com" method="POST">

            <!--left--------------------------------------->
            <div class="contact-left">
                <h1 class="c-l-heading">
                    <font style="border-bottom: 3px solid #63D9FF;">Contáctame</font>
                </h1>
                <!--name-------->
                <div class="f-name">
                    <font>Nombre</font>
                    <input type="text" placeholder="Nombre Completo" name="name" />
                </div>
                <!--email-------->
                <div class="f-email">
                    <font>Email</font>
                    <input type="email" name="email" placeholder="Example@gmail.com" />
                </div>
            </div>
            <!--right------------------------------------------->
            <div class="contact-right">
                <!--message-------->
                <div class="message">
                    <font>Mensage</font>
                    <textarea name="message" rows="5" cols="20" placeholder="Escribe algo..."></textarea>
                </div>
                <!--submit-btn------------>
                <button>submit</button>
            </div>
            
        </form>


    </section>






    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

    <script type="text/javascript" src="js/JQuery3.3.1.js"></script>
    <script type="text/javascript">

        /*Responsive Navigation*/
        $(document).ready(function () {
            $('.toggle').click(function () {
                $('.toggle').toggleClass('active')

                $('nav ul').toggleClass('active-menu')


            })
        });

    </script>

<script src="js/particles.min.js"></script>
<script src="js/app.js"></script>
  

</body>

</html>